{{ header }} 
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-module" data-toggle="tooltip" title="Actualizar" class="btn btn-primary">
                    <i class="fa fa-check-circle"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="Cancelar" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>Facturalusa - Configurações</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li>
                        <a href="{{ breadcrumb.href }}">
                            {{ breadcrumb.text }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="fa fa-exclamation-circle"></i> 
                {{ error_warning }}
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> Editar configurações do plugin</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">Geral</a></li>
                        <li><a href="#tab-documents" data-toggle="tab">Documentos</a></li>
                        <li><a href="#tab-customers" data-toggle="tab">Clientes</a></li>
                        <li><a href="#tab-items" data-toggle="tab">Artigos</a></li>
                        <li><a href="#tab-others" data-toggle="tab">Outros</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Chave API</label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_facturalusa_general_api_token" value="{{ module_facturalusa_general_api_token }}" class="form-control" />
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px"><a href="https://facturalusa.pt/app/subscricao/api" target="_blank">Clique aqui</a> para ver a sua Chave API. Não se esqueça de dar as permissões necessárias para bom funcionamento (por exemplo se quer criar artigos automaticamente, tem de dar a permissão de criar artigos).
                                        <br/>
                                        Sugerimos que dê as seguintes permissões:
                                        <ul style="margin-top: 5px; margin-bottom: 0px">
                                            <li class="text-muted"><b>Vendas - Facturação</b> | Criar, Actualizar, Eliminar, Visualizar</li>
                                            <li class="text-muted"><b>Vendas - Encomendas</b> | Criar, Actualizar, Eliminar, Visualizar</li>
                                            <li class="text-muted"><b>Vendas - Orçamentos</b> | Criar, Actualizar, Eliminar, Visualizar</li>
                                            <li class="text-muted"><b>Artigos</b> | Criar, Actualizar, Eliminar, Visualizar</li>
                                            <li class="text-muted"><b>Artigos - Stock movimentos</b> | Criar, Actualizar</li>
                                            <li class="text-muted"><b>Clientes</b> | Criar, Actualizar, Visualizar</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Estado</label>
                                <div class="col-sm-10">
                                    <select name="module_facturalusa_status" class="form-control">
                                        <option value="1" {{ module_facturalusa_status == 1 ? 'selected' : '' }}>Activo</option>
                                        <option value="0" {{ module_facturalusa_status == 0 ? 'selected' : '' }}>Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-documents">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Documento a emitir</label>
                                <div class="col-sm-10">
                                    <select name="module_facturalusa_document_type" class="form-control">
                                        <option value="Factura" {{ module_facturalusa_document_type == 'Factura' ? 'selected' : '' }}>Factura</option>
                                        <option value="Factura Recibo" {{ module_facturalusa_document_type == 'Factura Recibo' ? 'selected' : '' }}>Factura Recibo</option>
                                        <option value="Factura Simplificada" {{ module_facturalusa_document_type == 'Factura Simplificada' ? 'selected' : '' }}>Factura Simplificada</option>
                                        <option value="Factura Pró-forma" {{ module_facturalusa_document_type == 'Factura Pró-forma' ? 'selected' : '' }}>Factura Pró-forma</option>
                                        <option value="Encomenda" {{ module_facturalusa_document_type == 'Encomenda' ? 'selected' : '' }}>Encomenda</option>
                                        <option value="Orçamento" {{ module_facturalusa_document_type == 'Orçamento' ? 'selected' : '' }}>Orçamento</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Série a utilizar</label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_facturalusa_serie" class="form-control" placeholder="Deixe em branco caso pretenda utilizar a série por defeito do documento acima seleccionado" value="{{ module_facturalusa_document_serie }}"/>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px"><a href="https://facturalusa.pt/app/administracao/series" target="_blank">Clique aqui</a> para ver todas as séries. Preencha com a descrição.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Estado do documento</label>
                                <div class="col-sm-10">
                                    <select name="module_facturalusa_document_status" class="form-control">
                                        <option value="Rascunho" {{ module_facturalusa_document_status == 'Rascunho' ? 'selected' : '' }}>Rascunho</option>
                                        <option value="Terminado" {{ module_facturalusa_document_status == 'Terminado' ? 'selected' : '' }}>Terminado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Criar imediatamente o documento</label>
                                <div class="col-sm-10">
                                    <select name="module_facturalusa_document_automatic" class="form-control">
                                        <option value="1" {{ module_facturalusa_document_automatic == 1 ? 'selected' : '' }}>Sim</option>
                                        <option value="0" {{ module_facturalusa_document_automatic == 0 ? 'selected' : '' }}>Não</option>
                                    </select>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Se activo e se a encomenda atingir os estados abaixo seleccionados, o documento é imediatamente criado no Facturalusa. Caso contrário, terá de despoletar a sincronização de forma manual através de um botão na ficha das encomendas.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Criar nos estados de encomenda</label>
                                <div class="col-sm-10">
                                    <div class="well well-sm" style="height: 150px; overflow-y: auto; margin-bottom: 0px">
                                        {% for status in order_status %}
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="module_facturalusa_document_create_order_status[]" value="{{ status['order_status_id'] }}" {{ status['order_status_id'] in module_facturalusa_document_create_order_status ? 'checked' : '' }}>
                                                    {{ status['name'] }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Defina em que estados deve o documento ser criado automaticamente no Facturalusa. Será mostrada a mensagem "Não sincronizado" na ficha da encomenda, enquanto não atingir os estados necessários para sincronizar.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Anular / eliminar nos estados de encomenda</label>
                                <div class="col-sm-10">
                                    <div class="well well-sm" style="height: 150px; overflow-y: auto; margin-bottom: 0px">
                                        {% for status in order_status %}
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="module_facturalusa_document_cancel_order_status[]" value="{{ status['order_status_id'] }}" {{ status['order_status_id'] in module_facturalusa_document_cancel_order_status ? 'checked' : '' }}>
                                                    {{ status['name'] }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Defina em que estados deve o documento ser anulado / eliminado no Facturalusa. Se pretender gerir as anulações manualmente não seleccione nenhum estado.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Enviar email</label>
                                <div class="col-sm-10">
                                    <select name="module_facturalusa_document_force_send_email" class="form-control">
                                        <option value="1" {{ module_facturalusa_document_force_send_email == 1 ? 'selected' : '' }}>Sim</option>
                                        <option value="0" {{ module_facturalusa_document_force_send_email == 0 ? 'selected' : '' }}>Não</option>
                                    </select>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Se activo, após o documento ser sincronizado e terminado no Facturalusa, o cliente irá receber de imediato um email.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Enviar SMS</label>
                                <div class="col-sm-10">
                                    <select name="module_facturalusa_document_force_send_sms" class="form-control">
                                        <option value="1" {{ module_facturalusa_document_force_send_sms == 1 ? 'selected' : '' }}>Sim</option>
                                        <option value="0" {{ module_facturalusa_document_force_send_sms == 0 ? 'selected' : '' }}>Não</option>
                                    </select>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Se activo, após o documento ser sincronizado e terminado no Facturalusa, o cliente irá receber uma SMS. Esta funcionalidade só funciona se tiver créditos suficientes.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Assinar Digitalmente</label>
                                <div class="col-sm-10">
                                    <select name="module_facturalusa_document_force_sign" class="form-control">
                                        <option value="1" {{ module_facturalusa_document_force_sign == 1 ? 'selected' : '' }}>Sim</option>
                                        <option value="0" {{ module_facturalusa_document_force_sign == 0 ? 'selected' : '' }}>Não</option>
                                    </select>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Se activo, após o documento ser sincronizado e terminado no Facturalusa, este será digitalmente assinado. Esta funcionalidade só funciona se tiver a Assinatura Digital activada e bem configurada.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Enviar cópia do email para</label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_facturalusa_document_email_copyto" class="form-control" value="{{ module_facturalusa_document_email_copyto }}"/>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Separe os emails por vírgulas, até um máximo de 5 emails</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Idioma do documento</label>
                                <div class="col-sm-10">
                                    <select name="module_facturalusa_document_language" class="form-control">
                                        <option value="PT" {{ module_facturalusa_document_language == 'PT' ? 'selected' : '' }}>Português</option>
                                        <option value="EN" {{ module_facturalusa_document_language == 'EN' ? 'selected' : '' }}>Inglês</option>
                                        <option value="Auto" {{ module_facturalusa_document_language == 'Auto' ? 'selected' : '' }}>Consoante o país do cliente (CPLP = Português, resto = Inglês)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-customers">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Actualiza a ficha do cliente</label>
                                <div class="col-sm-10">
                                    <select name="module_facturalusa_customer_update" class="form-control">
                                        <option value="1" {{ module_facturalusa_customer_update == 1 ? 'selected' : '' }}>Sim</option>
                                        <option value="0" {{ module_facturalusa_customer_update == 0 ? 'selected' : '' }}>Não</option>
                                    </select>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Se activo, durante o processo de criação do documento no Facturalusa, verifica se o cliente já existe e se sim actualiza <b>sempre</b> a ficha do mesmo</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Prefixo no código</label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_facturalusa_customer_prefix" class="form-control" value="{{ module_facturalusa_customer_prefix }}"/>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Se preenchido, será adicionado o prefixo no código do cliente no momento de criação da ficha no Facturalusa</p>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Campo do contribuinte</label>
                                <div class="col-sm-10">
                                    <select name="module_facturalusa_customer_vatnumber_field" class="form-control">
                                        <option value="" {{ not module_facturalusa_customer_vatnumber_field ? 'selected' : '' }}></option>
                                        {% for field in custom_fields %}
                                            <option value="{{ field['custom_field_id'] }}" {{ field['custom_field_id'] == module_facturalusa_customer_vatnumber_field ? 'selected' : '' }}>
                                                {{ field['name'] }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Se nada for seleccionado, será assumido o contribuinte 999999990. <br/>Para criar um campo de preenchimento de contribuinte aceda ao menu lateral "Clientes > Campos personalizáveis", crie um novo campo denominado "Contribuinte" e volte actualizar esta página.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-items">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Cria artigos automaticamente</label>
                                <div class="col-sm-10">
                                    <select name="module_facturalusa_item_create" class="form-control">
                                        <option value="1" {{ module_facturalusa_item_create == 1 ? 'selected' : '' }}>Sim</option>
                                        <option value="0" {{ module_facturalusa_item_create == 0 ? 'selected' : '' }}>Não</option>
                                    </select>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Se activo, durante o processo de criação do documento no Facturalusa, os artigos que não existam serão criados automaticamente</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Prefixo na referência</label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_facturalusa_item_prefix" class="form-control" value="{{ module_facturalusa_item_prefix }}"/>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Se preenchido, será adicionado o prefixo na referência do artigo no momento de criação da ficha no Facturalusa</p>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tipo de contabilidade</label>
                                <div class="col-sm-10">
                                    <select name="module_facturalusa_item_type" class="form-control">
                                        <option value="Embalagens" {{ module_facturalusa_item_type == 'Embalagens' ? 'selected' : '' }}>Embalagens</option>
                                        <option value="Matérias primas" {{ module_facturalusa_item_type == 'Matérias Primas' ? 'selected' : '' }}>Matérias primas</option>
                                        <option value="Mercadorias" {{ module_facturalusa_item_type == 'Mercadorias' ? 'selected' : '' }}>Mercadorias</option>
                                        <option value="Produtos acabados e intermédios" {{ module_facturalusa_item_type == 'Produtos acabados e intermédios' ? 'selected' : '' }}>Produtos acabados e intermédios</option>
                                        <option value="Serviços" {{ module_facturalusa_item_type == 'Serviços' ? 'selected' : '' }}>Serviços</option>
                                        <option value="Subprodutos" {{ module_facturalusa_item_type == 'Subprodutos' ? 'selected' : '' }}>Subprodutos</option>
                                        <option value="Transporte" {{ module_facturalusa_item_type == 'Transporte' ? 'selected' : '' }}>Transporte</option>
                                        <option value="Vasilhame" {{ module_facturalusa_item_type == 'Vasilhame' ? 'selected' : '' }}>Vasilhame</option>
                                    </select>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Se os artigos forem criados automaticamente no Facturalusa, define o tipo de contabilidade a aplicar</p>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Unidade de venda</label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_facturalusa_items_unit" class="form-control" value="{{ module_facturalusa_item_unit }}" placeholder="Deixe em branco para assumir 'Unidades'"/>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px"><a href="https://facturalusa.pt/app/administracao/unidades" target="_blank">Clique aqui</a> para ver todas as unidades de venda. Preencha com a descrição.</p>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Taxa de IVA</label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_facturalusa_item_vat" class="form-control" value="{{ module_facturalusa_item_vat }}" placeholder="Deixe em branco para assumir o valor que consta no ficha de artigo do OpenCart"/>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px"><a href="https://facturalusa.pt/app/administracao/taxasiva" target="_blank">Clique aqui</a> para ver todas as taxas de IVA. Preencha com o valor da taxa, exemplo: <b>23</b> ou <b>23.00</b>.</p>
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Isenção de IVA</label>
                                <div class="col-sm-10">
                                    <select type="text" name="module_facturalusa_item_vat_exemption" class="form-control">
                                        <option value="1" {{ module_facturalusa_item_vat_exemption == 1 ? 'selected' : '' }}>
                                            M01 - Artigo 16.º n.º 6 do CIVA (ou similar)
                                        </option>
                                        <option value="2" {{ module_facturalusa_item_vat_exemption == 2 ? 'selected' : '' }}>
                                            M02 - Artigo 6.º do Decreto-Lei n.º 198/90, de 19 de Junho
                                        </option>
                                        <option value="4" {{ module_facturalusa_item_vat_exemption == 4 ? 'selected' : '' }}>
                                            M04 - Isento Artigo 13.º do CIVA (ou similar)
                                        </option>
                                        <option value="5" {{ module_facturalusa_item_vat_exemption == 5 ? 'selected' : '' }}>
                                            M05 - Isento Artigo 14.º do CIVA (ou similar)
                                        </option>
                                        <option value="6" {{ module_facturalusa_item_vat_exemption == 6 ? 'selected' : '' }}>
                                            M06 - Isento Artigo 15.º do CIVA (ou similar)
                                        </option>
                                        <option value="7" {{ module_facturalusa_item_vat_exemption == 7 ? 'selected' : '' }}>
                                            M07 - Isento Artigo 9.º do CIVA (ou similar)
                                        </option>
                                        <option value="9" {{ module_facturalusa_item_vat_exemption == 9 ? 'selected' : '' }}>
                                            M09 - IVA - não confere direito a dedução
                                        </option>
                                        <option value="10" {{ module_facturalusa_item_vat_exemption == 10 ? 'selected' : '' }}>
                                            M10 - IVA - Regime de isenção
                                        </option>
                                        <option value="11" {{ module_facturalusa_item_vat_exemption == 11 ? 'selected' : '' }}>
                                            M11 - Regime particular do tabaco
                                        </option>
                                        <option value="12" {{ module_facturalusa_item_vat_exemption == 12 ? 'selected' : '' }}>
                                            M12 - Regime da margem de lucro – Agências de viagens
                                        </option>
                                        <option value="13" {{ module_facturalusa_item_vat_exemption == 13 ? 'selected' : '' }}>
                                            M13 - Regime da margem de lucro – Bens em segunda mão
                                        </option>
                                        <option value="14" {{ module_facturalusa_item_vat_exemption == 14 ? 'selected' : '' }}>
                                            M14 - Regime da margem de lucro – Objetos de arte
                                        </option>
                                        <option value="15" {{ module_facturalusa_item_vat_exemption == 15 ? 'selected' : '' }}>
                                            M15 - Regime da margem de lucro – Objetos de Coleção e antiguidades
                                        </option>
                                        <option value="16" {{ module_facturalusa_item_vat_exemption == 16 ? 'selected' : '' }}>
                                            M16 - Isento Artigo 14.º do RITI (ou similar)
                                        </option>
                                        <option value="18" {{ module_facturalusa_item_vat_exemption == 18 ? 'selected' : '' }}>
                                            M18 - Sem isenção
                                        </option>
                                        <option value="20" {{ module_facturalusa_item_vat_exemption == 20 ? 'selected' : '' }}>
                                            M19 - Outras isenções
                                        </option>
                                        <option value="19" {{ module_facturalusa_item_vat_exemption == 19 ? 'selected' : '' }}>
                                            M20 - IVA - Regime forfetário
                                        </option>
                                        <option value="21" {{ module_facturalusa_item_vat_exemption == 21 ? 'selected' : '' }}>
                                            M21 - IVA - não confere direito à dedução
                                        </option>
                                        <option value="22" {{ module_facturalusa_item_vat_exemption == 22 ? 'selected' : '' }}>
                                            M25 - Mercadorias à consignação
                                        </option>
                                        <option value="30" {{ module_facturalusa_item_vat_exemption == 30 ? 'selected' : '' }}>
                                            M26 - Isenção de IVA com direito à dedução no cabaz alimentar
                                        </option>
                                        <option value="23" {{ module_facturalusa_item_vat_exemption == 23 ? 'selected' : '' }}>
                                            M30 - IVA - autoliquidação - Artigo 2.º n.º 1 alínea i) do CIVA
                                        </option>
                                        <option value="24" {{ module_facturalusa_item_vat_exemption == 24 ? 'selected' : '' }}>
                                            M31 - IVA - autoliquidação - Artigo 2.º n.º 1 alínea j) do CIVA
                                        </option>
                                        <option value="25" {{ module_facturalusa_item_vat_exemption == 25 ? 'selected' : '' }}>
                                            M32 - IVA - autoliquidação - Artigo 2.º n.º 1 alínea l) do CIVA
                                        </option>
                                        <option value="31" {{ module_facturalusa_item_vat_exemption == 31 ? 'selected' : '' }}>
                                            M34 - IVA - autoliquidação - Artigo 2.º n.º 1 alínea n) do CIVA
                                        </option>
                                        <option value="26" {{ module_facturalusa_item_vat_exemption == 26 ? 'selected' : '' }}>
                                            M40 - IVA - autoliquidação - Artigo 6.º n.º 6 alínea a) do CIVA, a contrário
                                        </option>
                                        <option value="27" {{ module_facturalusa_item_vat_exemption == 27 ? 'selected' : '' }}>
                                            M41 - IVA - autoliquidação - Artigo 8.º n.º 3 do RITI
                                        </option>
                                        <option value="28" {{ module_facturalusa_item_vat_exemption == 28 ? 'selected' : '' }}>
                                            M42 - IVA - autoliquidação - Decreto-Lei n.º 21/2007, de 29 de janeiro
                                        </option>
                                        <option value="29" {{ module_facturalusa_item_vat_exemption == 29 ? 'selected' : '' }}>
                                            M43 - IVA - autoliquidação - Decreto-Lei n.º 362/99, de 16 de setembro
                                        </option>
                                        <option value="17" {{ module_facturalusa_item_vat_exemption == 17 ? 'selected' : '' }}>
                                            M99 - Não sujeito; não tributado (ou similar)
                                        </option>                                       
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-others">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tipo de IVA</label>
                                <div class="col-sm-10">
                                    <select name="module_facturalusa_other_vat_type" class="form-control">
                                        <option value="Debitar IVA" {{ module_facturalusa_other_vat_type == 'Debitar IVA' ? 'selected' : '' }}>Debitar IVA</option>
                                        <option value="IVA incluído" {{ module_facturalusa_other_vat_type == 'IVA incluído' ? 'selected' : '' }}>IVA incluído</option>
                                        <option value="Não fazer nada" {{ module_facturalusa_other_vat_type == 'Não fazer nada' ? 'selected' : '' }}>Não fazer nada</option>                                    
                                    </select>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px">Por norma, apesar de em algumas lojas o preço do produto ser apresentado já com IVA, deve ser seleccionado «Debitar IVA».</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Local de envio</label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_facturalusa_other_location_origin" class="form-control" value="{{ module_facturalusa_other_location_origin }}" placeholder="Deixe em branco para assumir o local pré-definido ou se a sua subscrição não tiver multi-locais"/>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px"><a href="https://facturalusa.pt/app/subscricao/locais" target="_blank">Clique aqui</a> para ver todos os locais. Preencha com o nome.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Modo de expedição</label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_facturalusa_other_shipping_name" class="form-control" value="{{ module_facturalusa_other_shipping_name }}"/>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px"><a href="https://facturalusa.pt/app/administracao/modosexpedicao" target="_blank">Clique aqui</a> para ver todos os modos de expedição. Preencha com a descrição.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Modo de expedição Taxa de IVA</label>
                                <div class="col-sm-10">
                                    <input type="text" name="module_facturalusa_other_shipping_vat" class="form-control" value="{{ module_facturalusa_other_shipping_vat }}"/>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px"><a href="https://facturalusa.pt/app/administracao/taxasiva" target="_blank">Clique aqui</a> para ver todas as taxas de IVA. Preencha com o valor da taxa, exemplo: <b>23</b> ou <b>23.00</b>.</p></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nº casas decimais preços</label>
                                <div class="col-sm-10">
                                    <input type="number" name="module_facturalusa_other_decimal_places_prices" class="form-control" value="{{ module_facturalusa_other_decimal_places_prices }}" min="1" max="5"/>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px"><b>Importante</b>: Se a sua loja trabalha com mais do que duas casas decimais nos preços, aplique em conformidade. A incorrecta determinação do nº de casas decimais pode fazer com que o documento não seja sincronizado.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nº casas decimais quantidades</label>
                                <div class="col-sm-10">
                                    <input type="number" name="module_facturalusa_other_decimal_places_quantities" class="form-control" value="{{ module_facturalusa_other_decimal_places_quantities }}" min="1" max="5"/>
                                    <p class="text-muted" style="margin-top: 5px; margin-bottom: 0px"><b>Importante</b>: Se a sua loja trabalha com mais do que duas casas decimais nas quantidades, aplique em conformidade. A incorrecta determinação do nº de casas decimais pode fazer com que o documento não seja sincronizado.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}